--swiftversion 6.0
--indent 4
--allman false
--wraparguments before-first
--wrapparameters before-first
--closingparen same-line
--stripunusedargs always
--self insert
--exclude .build,Pods,Resources/ImageMagickDistribution
